[bumpversion]
current_version = 7.1.3
commit = True
tag = False

[bumpversion:file:README.md]

[bumpversion:file:pyproject.toml]

[bumpversion:file:src/talos/version.py]

[bumpversion:file:nextflow/annotation.config]

[bumpversion:file:nextflow/talos.config]

[bumpversion:file:.github/workflows/docker.yaml]
