[bumpversion]
current_version = 6.7.0
commit = True
tag = False

[bumpversion:file:README.md]

[bumpversion:file:setup.py]

[bumpversion:file:.github/workflows/docker.yaml]

[bumpversion:file:.github/workflows/index_page_builder.yaml]

[bumpversion:file:src/talos/version.py]

# for aligning on version/tag for Nextflow
[bumpversion:file:nf_test_inputs/nextflow.config]
