// name this cohort/dataset
params.cohort = "toy_data"

// Input data paths
params.vcf_dir = "individual_vcfs"
params.input_vcfs = "${params.vcf_dir}/*.vcf.bgz"

params.input_dir = "nextflow_inputs"
params.ref_genome = "${params.input_dir}/ref.fa"

params.gnomad_zip = "gnomAD_v4.1/whole_genome.zip"

// MANE transcript resource
params.mane_release = "1.4"
params.mane = "https://ftp.ncbi.nlm.nih.gov/refseq/MANE/MANE_human/release_${params.mane_release}/MANE.GRCh38.v${params.mane_release}.summary.txt.gz"

params.region_dir = "regions"
params.ensembl_version = "113"
params.ensembl_gtf = "https://ftp.ensembl.org/pub/release-${params.ensembl_version}/gff3/homo_sapiens/Homo_sapiens.GRCh38.${params.ensembl_version}.gff3.gz"

// outputs path(s)
params.cohort_output_dir = "${params.cohort}_outputs"
params.generic_output_dir = "nextflow_outputs"

// Not storing a copy of the AM file, collecting it from Zenodo at runtime
params.alphamissense_url = "https://zenodo.org/records/8208688/files/AlphaMissense_hg38.tsv.gz"
params.alphamissense_output = "${params.generic_output_dir}/alpha_missense.ht.tar.gz"

// Docker containers - built from Dockerfiles in the docker directory
params.bcftools_docker = 'bcftools:1.21'
params.echtvar_docker = 'echtvar:v0.2.1'
params.hail_docker = 'hail:0.2.133'
docker.enabled = true
