// Execution environment setup
params.projectDir = "/workspace/gitpod/hello-nextflow"
$projectDir = params.projectDir

// Input data paths
params.input_dir = "/Users/mwelland/code/talos/nf_test_inputs/"
$inputDir = params.input_dir

// name this cohort/dataset
params.cohort = "validation"
params.sequencing_type = "genome"
params.sequencing_tech = "short-read"

// Set the input data paths
params.pedigree = "${params.input_dir}/pedigree.ped"
// this can be a VCF or MT - the script will change accordingly
params.small_variants = "data/small_variants.vcf.bgz"
params.runtime_config = "/Users/mwelland/code/talos/nf_test_inputs/config.toml"
params.annotated_vcf = "/Users/mwelland/code/talos/nf_test_inputs/test_annotated.vcf.bgz"

// Accessory files
params.hpo = "hpo_terms.obo"
params.clinvar_decisions = "${params.input_dir}/clinvar_decisions.tar.gz"
params.clinvar_pm5 = "${params.input_dir}/clinvar_pm5.tar.gz"

// outputs path(s)
params.output_dir = "output_folder"
params.output_filename_prefix = "talos_results"

// runtime settings
params.checkpoint = "$projectDir/assets/NO_FILE"
