// Default parameters
params {

    // name this cohort/dataset
    cohort = "cohort"

    // global output directories - should be changed for each deployment
    // the paths in this repository are really just for the test workflow
    processed_annotations = "nextflow/processed_annotations"
    cohort_output_dir = "nextflow/${cohort}_outputs"

    // Large files directory
    large_files = "large_files"
    ref_genome = "${large_files}/ref.fa"

    // Docker container
    container = 'talos:9.0.2'

    // MANE transcript resource
    mane = "${large_files}/MANE.GRCh38.v1.5.summary.txt.gz"
    
    // Result file from running ParseManeIntoJson on the MANE summary file
    mane_json = "${params.processed_annotations}/mane.json"

    // Ensembl gene feature file
    ensembl_gff = "${params.large_files}/Homo_sapiens.GRCh38.116.chr.gff3.gz"
    
    // Result files from the CreateRoiFromGff3 nextflow module
    ensembl_bed = "${processed_annotations}/GRCh38.bed"
    ensembl_merged_bed = "${processed_annotations}/GRCh38_merged.bed"

    // AlphaMissense file
    alphamissense_tsv = "${large_files}/AlphaMissense_hg38.tsv.gz"
    
    // AlphaMissense annotations reformatted as an echtvar-compatible zip
    alphamissense_zip = "${processed_annotations}/alphamissense.zip"

    // ClinVar download URLs
    submission_summary = "https://ftp.ncbi.nlm.nih.gov/pub/clinvar/tab_delimited/submission_summary.txt.gz"
    variant_summary = "https://ftp.ncbi.nlm.nih.gov/pub/clinvar/tab_delimited/variant_summary.txt.gz"
    
    // ClinVar blacklist
    clinvar_blacklist = "'not' 'applicable'"

    // HPO and Phenotype resources
    hpo = "${large_files}/hp.obo"
    gen2phen = "${large_files}/genes_to_phenotype.txt"
    phenio_db = "${large_files}/phenio.db"

    // ------------------------------------------------------------------------
    // Annotation Workflow Parameters
    // ------------------------------------------------------------------------

    // Input VCF extension and location logic
    input_vcf_extension = "vcf.bgz"
    shards = null
    vcf = null
    ss_vcf_dir = null
    vcf_split_n = 1000000

    // Echtvar-formatted annotation data
    gnomad_zip = "${large_files}/gnomad_4.1_region_merged_GRCh38_whole_genome"

    // ------------------------------------------------------------------------
    // Talos Workflow Parameters
    // ------------------------------------------------------------------------

    // Input data paths (override with real data)
    pedigree = "nextflow/inputs/pedigree.ped"
    runtime_config = "nextflow/inputs/config.toml"

    // I should replace these with null values
    ext_id_map = "$projectDir/nextflow/assets/NO_FILE"
    seqr_lookup = "$projectDir/nextflow/assets/NO_SEQR_FILE"
    // Previous results for historic filtering
    previous_results = "$projectDir/nextflow/assets/NO_HISTORY"
}

// Docker configuration - "docker build -t talos:9.0.2 ."
params.container = 'talos:9.0.2'
docker.enabled = true

// currently this is only used in the preparation workflow
outputDir = "${params.processed_annotations}"
workflow.output.mode = 'copy'

// Process configuration
process {
    memory = 8.GB
    cpus = 2

    // Specific process resource requirements
    withName: 'SplitVcf' {
        memory = '2 GB'
        cpus = 1
    }
    withName: 'AnnotateCsqWithBcftools' {
        memory = '1 GB'
        cpus = 1
    }
    withName: 'AnnotateWithEchtvar' {
        cpus = 1
        memory = '1 GB'
    }
    withName: 'AnnotatedVcfIntoMatrixTable' {
        memory = '8 GB'
        cpus = 4
    }
    withName: 'NormaliseAndRegionFilterVcf' {
        memory = '1 GB'
        cpus = 1
    }
    withName: 'CreateRoiFromGff3' {
        memory = '2 GB'
        cpus = 1
    }
    withName: 'DownloadClinVarFiles' {
        memory = '2 GB'
    }
    withName: 'EncodeAlphaMissense' {
        memory = '16 GB'
    }
    withName: 'ParseAlphaMissense' {
        memory = '2 GB'
        cpus = 4
    }
}
