// Input data paths
params.input_dir = "nf_test_inputs"

// name this cohort/dataset
params.cohort = "validation"
params.sequencing_type = "genome"
params.sequencing_tech = "short-read"

// Set the input data paths
params.pedigree = "${params.input_dir}/pedigree.ped"
params.hpo_pedigree = "${params.input_dir}/pedigree_with_hpo.ped"
params.runtime_config = "${params.input_dir}/config.toml"
params.annotated_vcf = "${params.input_dir}/test_annotated.vcf.bgz"
params.svdb_tsv = "${params.input_dir}/splicevardb_extract.tsv"

// Accessory files - clinvar stuff can be bundled as a single file
// grab the latest release from ClinvArbitration and go
params.clinvar = "${params.input_dir}/clinvarbitration.tar.gz"
params.exomiser = "${params.input_dir}/exomiser_nf.tar.gz"
params.hpo = "large_files/hp.obo"
params.gen2phen = "large_files/genes_to_phenotype.txt"
params.phenio_db = "large_files/phenio.db.gz"

// outputs path(s)
params.output_dir = "nf_test_outputs"

// runtime settings - this doesn't really work...
params.checkpoint = "${params.output_dir}/assets/NO_FILE"

// container built using "DOCKERBUILDKIT=1 docker build --target talos_none -t talos:6.6.3 ."
// this builds a relatively small image with no GCP install
// using DOCKERBUILDKIT=1 means that we don't build off-target images, saving a ton of time
// this may of may not be the default depending on the docker installation
params.container = 'talos:6.6.3'
docker.enabled = true
