// Input data paths
params.input_dir = "/Users/mwelland/code/talos/nf_test_inputs/"

// name this cohort/dataset
params.cohort = "validation"
params.sequencing_type = "genome"
params.sequencing_tech = "short-read"

// Set the input data paths
params.pedigree = "${params.input_dir}/pedigree.ped"
// this can be a VCF or MT - the script can change accordingly (once I learn how)
params.small_variants = "data/small_variants.vcf.bgz"
params.runtime_config = "/Users/mwelland/code/talos/nf_test_inputs/config.toml"
params.annotated_vcf = "/Users/mwelland/code/talos/nf_test_inputs/test_annotated.vcf.bgz"

// substituted HPO panel data
params.substitute_hpo_panel_data = "${params.input_dir}/substitute_hpo_panel_data.json"

// Accessory files - clinvar stuff can be bundled as a single file
// grab the latest release from ClinvArbitration and go
params.hpo = "hpo_terms.obo"
params.clinvar = "${params.input_dir}/clinvarbitration.tar.gz"

// outputs path(s)
params.output_dir = "talos_nf_results"

// runtime settings
params.checkpoint = "$projectDir/assets/NO_FILE"
