// Input data paths
params.input_dir = "nf_test_inputs"

// name this cohort/dataset
params.cohort = "validation"
params.sequencing_type = "genome"
params.sequencing_tech = "short-read"

// Set the input data paths
params.pedigree = "${params.input_dir}/pedigree.ped"
params.hpo_pedigree = "${params.input_dir}/pedigree_with_hpo.ped"
params.runtime_config = "${params.input_dir}/config.toml"
params.annotated_vcf = "${params.input_dir}/test_annotated.vcf.bgz"

// Accessory files - clinvar stuff can be bundled as a single file
// grab the latest release from ClinvArbitration and go
params.hpo = "hpo_terms.obo"
params.clinvar = "${params.input_dir}/clinvarbitration.tar.gz"

// outputs path(s)
params.output_dir = "talos_nf_results"

// runtime settings
params.checkpoint = "${params.output_dir}/assets/NO_FILE"
