// name this cohort/dataset
params.cohort = "cohort"

params.input_dir = "nextflow/inputs"
params.input_vcfs = "${params.input_dir}/individual_vcfs/*.vcf.bgz"
params.ref_genome = "large_files/ref.fa"

// path to Echtvar-formatted annotation data
params.gnomad_zip = "large_files/whole_genome.zip"

// MANE transcript resource
params.mane_release = "1.4"
params.mane = "https://ftp.ncbi.nlm.nih.gov/refseq/MANE/MANE_human/release_${params.mane_release}/MANE.GRCh38.v${params.mane_release}.summary.txt.gz"

params.region_dir = "regions"
params.ensembl_version = "113"
params.ensembl_gtf = "https://ftp.ensembl.org/pub/release-${params.ensembl_version}/gff3/homo_sapiens/Homo_sapiens.GRCh38.${params.ensembl_version}.gff3.gz"

// outputs path(s)
params.cohort_output_dir = "nextflow/${params.cohort}_outputs"

// all outputs which are not specific to a cohort/family/analysis
params.generic_output_dir = "nextflow/outputs"

// Not storing a copy of the AM file, collecting it from Zenodo at runtime
params.alphamissense_url = "https://zenodo.org/records/8208688/files/AlphaMissense_hg38.tsv.gz"
params.alphamissense_output = "${params.generic_output_dir}/alphamissense_38.ht.tar.gz"

// Docker image - built from Dockerfile in the root directory
params.container = 'talos:6.6.3'
docker.enabled = true
