// name this cohort/dataset
params.cohort = "cohort"

// all outputs which are not specific to a cohort/family/analysis
params.generic_output_dir = "nextflow/outputs"

params.input_dir = "nextflow/inputs"
params.input_vcfs = "${params.input_dir}/individual_vcfs/*.vcf.bgz"

params.large_files = "large_files"
params.ref_genome = "${params.large_files}/ref.fa"

// path to Echtvar-formatted annotation data
// Download this file from https://zenodo.org/records/15110230
params.gnomad_zip = "${params.large_files}/whole_genome.zip"

// MANE transcript resource
params.mane = "${params.large_files}/MANE.GRCh38.v1.4.summary.txt.gz"
params.mane_json = "${params.generic_output_dir}/mane.json"

// Ensembl gene feature file
params.ensembl_gff = "${params.large_files}/Homo_sapiens.GRCh38.113.gff3.gz"
params.ensembl_bed = "${params.generic_output_dir}/GRCh38.bed"
params.ensembl_merged_bed = "${params.generic_output_dir}/GRCh38_merged.bed"

// outputs path(s)
params.cohort_output_dir = "nextflow/${params.cohort}_outputs"

// AlphaMissense file, downloadable from https://zenodo.org/records/8208688/files/AlphaMissense_hg38.tsv.gz
// or Google Cloud https://console.cloud.google.com/storage/browser/dm_alphamissense
params.alphamissense_tsv = "${params.large_files}/AlphaMissense_hg38.tsv.gz"
params.alphamissense_tar = "${params.generic_output_dir}/alphamissense_38.ht.tar"

// Docker image - built from Dockerfile in the root directory
// "docker build -t talos:7.0.4 ."
params.container = 'talos:7.0.4'
docker.enabled = true
