// all outputs which are not specific to a cohort/family/analysis

params.processed_annotations = "nextflow/processed_annotations"
outputDir = "${params.processed_annotations}"
workflow.output.mode = 'copy'

// input directory for chunky downloads
params.large_files = "large_files"

// MANE transcript resource
params.mane = "${params.large_files}/MANE.GRCh38.v1.4.summary.txt.gz"
// result file from running ParseManeIntoJson on the MANE summary file
params.mane_json = "${params.processed_annotations}/mane.json"

// Ensembl gene feature file
params.ensembl_gff = "${params.large_files}/Homo_sapiens.GRCh38.115.gff3.gz"
// result files from the CreateRoiFromGff3 nextflow module, implementing the CreateRoiFromGff3 script followed by a sort
params.ensembl_bed = "${params.processed_annotations}/GRCh38.bed"
params.ensembl_merged_bed = "${params.processed_annotations}/GRCh38_merged.bed"

params.ref_genome = "${params.large_files}/ref.fa"

// AlphaMissense file, downloadable from https://zenodo.org/records/8208688/files/AlphaMissense_hg38.tsv.gz
// or Google Cloud https://console.cloud.google.com/storage/browser/dm_alphamissense
params.alphamissense_tsv = "${params.large_files}/AlphaMissense_hg38.tsv.gz"
params.alphamissense_tar = "${params.processed_annotations}/alphamissense_38.ht"

// if required, grab the latest data from ClinvArbitration and process
params.submission_summary = "https://ftp.ncbi.nlm.nih.gov/pub/clinvar/tab_delimited/submission_summary.txt.gz"
params.variant_summary = "https://ftp.ncbi.nlm.nih.gov/pub/clinvar/tab_delimited/variant_summary.txt.gz"

// this should be a space-delimited list of sites to ignore in the raw clinvar data
// the names must be formatted exactly as they appear in the clinvar records
params.clinvar_blacklist = 'not applicable'

// Docker image - built from Dockerfile in the root directory
// "docker build -t talos:8.4.0 ."
params.container = 'talos:8.4.0'
docker.enabled = true

process {
    memory = 8.GB
    cpus = 2
    withName: 'DownloadClinVarFiles' {
        memory = '2 GB'
    }
}