// name this cohort/dataset
params.cohort = "cohort"

// Input data paths
params.input_dir = "nextflow/inputs"

// outputs directory
params.output_dir = "nextflow/${params.cohort}_outputs"

// Set the input data paths
// mandatory - pedigree for the callset. This example contains HPO terms
params.pedigree = "${params.input_dir}/pedigree.ped"

// Optional, a tsv/csv/json file containing VCF ID: External ID mappings
// If provided both IDs will be displayed in the reports, which can be useful when samples have multiple alt. IDs
// either replace this location in config, or use the CLI argument "--ext_id_map path/to/file.csv"
params.ext_id_map = "$projectDir/assets/NO_FILE"

// Optional, a tsv/csv/json file containing VCF ID: Seqr ID mappings
params.seqr_lookup = "$projectDir/assets/NO_SEQR_FILE"

// Optional, but encouraged. Where a previous results set exists, this should point to that file
// Building on the previously seen results is crucial to correctly annotating dates, and being able to filter
// down to new variants in each run
params.previous_results = "$projectDir/assets/NO_HISTORY"

params.runtime_config = "${params.input_dir}/config.toml"

// all outputs which are not specific to a cohort/family/analysis
params.processed_annotations = "nextflow/processed_annotations"
params.parsed_mane = "${params.processed_annotations}/mane.json"

// this file contains the whole of PanelApp. It will be gathered live, or can be passed as an argument if it was previously downloaded
// we recommend refreshing this file monthly
params.panelapp = "${params.processed_annotations}/panelapp_download.json"

// large files, download these separately! Talos does not provide these
// see `large_files/README.md` for details
params.large_files = "large_files"
// grab the latest release from ClinvArbitration and go
params.clinvar = "${params.large_files}/clinvarbitration.tar.gz"
// https://purl.obolibrary.org/obo/hp.obo
params.hpo = "${params.large_files}/hp.obo"
// download from https://hpo.jax.org/data/annotations
params.gen2phen = "${params.large_files}/genes_to_phenotype.txt"
// download https://data.monarchinitiative.org/monarch-kg/latest/phenio.db.gz, and decompress
params.phenio_db = "${params.large_files}/phenio.db"

// container built using "docker build -t talos:8.2.2 ."
// this builds a relatively small image with no GCP install
// this may of may not be the default depending on the docker installation
params.container = 'talos:8.2.2'
docker.enabled = true
