// name this cohort/dataset
params.cohort = "cohort"

// Input data paths
params.input_dir = "nextflow/inputs"

// outputs directory
params.output_dir = "nextflow/${params.cohort}_outputs"

params.sequencing_type = "genome"
params.sequencing_tech = "short-read"

// Set the input data paths
// mandatory - pedigree for the callset
params.pedigree = "${params.input_dir}/pedigree.ped"

// optional - if a phenopacket file has been created in advance, it can be provided here
// the default path here is to the cohort outputs folder - if it doesn't exist on the first run, it'll be generated
// during the run, and this can be re-used in future runs
// if you already have one handy, you can use the "--phenopackets XXXX" command line parameter to override this
params.phenopackets = "${params.output_dir}/${params.cohort}_phenopackets.json"

// optional - if a phenopacket file doesn't exist in advance, you can generate one from a pedigree file + hpo terms.
// check the docstring in talos/ConvertPedToPhenopackets.py for more information
// if this file doesn't exist, and a phenopacket file is not provided, we generate a phenopacket file from a plain
// pedigree - this will not have any phenotype data, but the file can be updated later for subsequent runs if phenotypic
// data becomes available
params.hpo_pedigree = "${params.input_dir}/pedigree_with_hpo.ped"

params.runtime_config = "${params.input_dir}/config.toml"

// all outputs which are not specific to a cohort/family/analysis
params.processed_annotations = "nextflow/processed_annotations"
params.parsed_mane = "${params.processed_annotations}/mane.json"

// this file contains the whole of PanelApp. It will be gathered live, or can be passed as an argument
params.panelapp = "${params.processed_annotations}/panelapp_download.json"

// Accessory files - clinvar stuff can be bundled as a single file
// grab the latest release from ClinvArbitration and go
params.clinvar = "${params.input_dir}/clinvarbitration.tar.gz"

// large files, download these separately! Talos does not provide these

params.large_files = "large_files"
// https://purl.obolibrary.org/obo/hp.obo
params.hpo = "${params.large_files}/hp.obo"
// download from https://hpo.jax.org/data/annotations
params.gen2phen = "${params.large_files}/genes_to_phenotype.txt"
// download https://data.monarchinitiative.org/monarch-kg/latest/phenio.db.gz
params.phenio_db = "${params.large_files}/phenio.db.gz"

// container built using "docker build -t talos:7.0.8 ."
// this builds a relatively small image with no GCP install
// this may of may not be the default depending on the docker installation
params.container = 'talos:7.0.8'
docker.enabled = true
