// Input data paths
params.input_dir = "nextflow/inputs"

// name this cohort/dataset
params.cohort = "cohort"
params.sequencing_type = "genome"
params.sequencing_tech = "short-read"

// Set the input data paths
params.pedigree = "${params.input_dir}/pedigree.ped"
params.hpo_pedigree = "${params.input_dir}/pedigree_with_hpo.ped"
params.runtime_config = "${params.input_dir}/config.toml"

// all outputs which are not specific to a cohort/family/analysis
params.processed_annotations = "nextflow/processed_annotations"
params.parsed_mane = "${params.processed_annotations}/mane.json"

// Accessory files - clinvar stuff can be bundled as a single file
// grab the latest release from ClinvArbitration and go
params.clinvar = "${params.input_dir}/clinvarbitration.tar.gz"

// large files, download these separately! Talos does not provide these

params.large_files = "large_files"
// https://purl.obolibrary.org/obo/hp.obo
params.hpo = "${params.large_files}/hp.obo"
// download from https://hpo.jax.org/data/annotations
params.gen2phen = "${params.large_files}/genes_to_phenotype.txt"
// download https://data.monarchinitiative.org/monarch-kg/latest/phenio.db.gz
params.phenio_db = "${params.large_files}/phenio.db.gz"

// outputs path(s)
params.output_dir = "nextflow/${params.cohort}_outputs"

// a file which can be provided outside of this nextflow processed_annotations
params.phenopackets = "${params.output_dir}/${cohort}_phenopackets.json"

// container built using "docker build -t talos:7.0.7 ."
// this builds a relatively small image with no GCP install
// this may of may not be the default depending on the docker installation
params.container = 'talos:7.0.7'
docker.enabled = true
