
{% macro ucsc_url(variant, padding=20) -%}
http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg38&highlight=hg38.chr{{variant.chrom}}:{{variant.pos}}-{{variant.ref|length + variant.pos - 1}}&position=chr{{variant.chrom}}:{{variant.pos - padding}}-{{variant.pos + padding}}
{%- endmacro %}

{% macro spliceai_lookup_url(variant, distance=500, mask=0) -%}
https://spliceailookup.broadinstitute.org/#variant={{variant.chrom}}:{{variant.pos}}-{{variant.ref}}-{{variant.alt}}&hg=38&distance={{distance}}&mask={{mask}}&precomputed=0
{%- endmacro %}

{% macro omim_gene_search_url(symbol) -%}
https://www.omim.org/search?index=entry&start=1&search={{symbol}}&field=approved_gene_symbol
{%- endmacro %}

{% macro decipher_url(gene_id, protein_view=True) -%}
{% if  protein_view -%}
    https://decipher.sanger.ac.uk/gene/{{gene_id}}/overview/protein-genomic-info
{% else %}
    https://decipher.sanger.ac.uk/gene/{{gene_id}}/overview/clinical-info
{%- endif %}
{%- endmacro %}

{% macro ped_symbol(sex, affected) -%}
    {# Retuen a pedigree icon representation of an individual #}
    {% if  sex == 'male' or sex == '1' %}
        {% set shape = 'square' %}
    {% elif sex == 'female' or sex == '2' %}
        {% set shape = 'circle' %}
    {% else %}
        {% set shape = 'diamond' %}
    {% endif %}
    {% if  affected in ['2', 'true', True] %}
        {% set icon_string = 'bi-' + shape + '-fill' %}
    {% elif  affected in ['1', 'false', False] %}
        {% set icon_string = 'bi-' + shape %}
    {% else %}
        {% set icon_string = 'bi-question-' + shape %}
    {% endif %}
    <i class="{{icon_string}} text-small text-secondary"></i>
{%- endmacro %}
