<table class="table tablesorter" id="variant-table">
<thead>
    <tr>
    <th class="group-separator">Individual </th>
    <th class="group-false">Variant</th>
    <th class="group-false">Gene (MOI)</th>
    <th class="group-false">Categories</th>
    <th class="group-false">First Seen</th>
    <th class="group-false">MANE CSQ</th>
    <th class="group-false">Clinvar</th>
    <th class="group-false">Flags</th>
    <th class="group-false">Support</th>
    </tr>
</thead>
<tbody>
{% for sample in samples if sample.variants %}


{% for variant in sample.variants %}
<tr>
    <td style="white-space: nowrap">
        {# Individual ID #}
        <a href="#" class="toggle"><i class="bi-card-text"></i></a>
        <a href="{{seqr_url}}/project/{{seqr_project}}/family_page/{{sample.seqr_id}}" target="_blank">
            {{sample.ext_id}}
        </a>
        {% if sample.name != sample.ext_id %}
            <br><span class="text-muted">({{ sample }})</span>
        {% endif %}
    </td>
    <td>
        {# Coordinates #}
        <a href="{{seqr_url}}/variant_search/variant/{{variant}}/family/{{sample.seqr_id}}" target="_blank">
            {{variant.chrom}}:{{variant.pos}}
        </a>
        <br>
        {{ variant.ref|truncate(8, True) }}>{{ variant.alt|truncate(8, True) }}
    </td>
    <td>
        {# Gene symbol #}
        {% for gene in variant.genes %}
        <a href="https://panelapp.agha.umccr.org/panels/entities/{{gene[1]}}" target="_blank">{{gene[1]}}</a>
        {% endfor %}
        {% if variant.panel_flags %}
        <i class="bi-person-check-fill text-success" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-title="Phenotype match: {{variant.panel_flags|join(', ')}}"></i>
        {% endif %}
        <br>
        {% set pipe = joiner(", ") %}
        ({% for moi in variant.reasons -%}
        {{pipe()}}{{ moi|replace("Autosomal Recessive Homozygous","AR-Hom")
        |replace("Autosomal Recessive Compound-Het","AR-CH")
        |replace("Autosomal Dominant","AD")
        }}
        {%- endfor %})
    </td>
    <td>
        {# Categories #}
        {{variant.var_data.categories|reject("eq", "support")|join(", ")|replace("_", " ")}}
    </td>
    <td>
        {# First Seen #}
        {{ variant.first_seen }}
    </td>
    <td>
        {# CSQ #}
        {% if variant.mane_consequences %}
            {{variant.mane_consequences|join(', ')|replace("_variant", "")|replace("_", " ")}}
            <br>
            {{ variant.mane_hgvsps|join(', ') }}
        {% else %}
            <span class="badge text-bg-warning">Non-canonical transcript only</span>
        {% endif %}
    </td>
    <td>
        {# Clinvar #}
        <a href="http://www.ncbi.nlm.nih.gov/clinvar?term={{variant.var_data.info.clinvar_allele}}[alleleid]"
            target="_blank">
            {{ variant.var_data.info.clinvar_sig|replace('missing','') }}
        </a>
        {% if variant.var_data.info.clinvar_stars %}
            <br>
            {% for i in range(variant.var_data.info.clinvar_stars|int) -%}
                <i class="bi-star"></i>
            {%- endfor %}
        {% endif %}
    </td>
    <td>
        {# Warning Flags #}
        {% for flag in variant.warning_flags %}
        <span class="badge text-bg-warning">
            {{ flag|replace("_", " ") }}
        </span><br>
        {% endfor %}
    </td>
    <td>
        {# Support #}
        {% if variant.supported %}
            {% for coords in variant.support_vars %}
                <a href="{{seqr_url}}/variant_search/variant/{{coords}}/family/{{sample.seqr_id}}" target="_blank">
                    {{coords.split('-')[:2]|join(':')}}
                </a>
            {% endfor %}
        {% endif %}
    </td>
</tr>

{% include "variant_table_child_row.html.jinja" %}

{% endfor %}
{% endfor %}
</tbody>
</table>
