<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ report_title }}</title>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- Include DataTables CSS and JS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">

    <link href="https://cdn.datatables.net/rowgroup/1.0.2/css/rowGroup.dataTables.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.datatables.net/rowgroup/1.0.2/js/dataTables.rowGroup.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <style type="text/css">
        a {
            text-decoration: none;
        }

        .group-name {
            font-weight: normal;
        }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark justify-content-start">
      <a class="navbar-brand p-1" href="#"> {{ report_title|default("Talos Report") }}</a>
      <span class="navbar-text">
        {{ run_datetime }}
      </span>
    </nav>

    {# Results #}
    <div>

        </br>
        ClinvArbitration, CPG's re-aggregation of ClinVar submissions: <a href="https://github.com/populationgenomics/ClinvArbitration" target="_blank">https://github.com/populationgenomics/ClinvArbitration</a>
        </br>
        <i class="bi-person-check-fill text-success">Phenotype match: Panel-based</i>
        </br>
        <i class="bi-person-check-fill text-info">Phenotype match: Cohort-based</i>
        </br>
        <i class="bi-person-check-fill" style="color: #FF5733">Phenotype match: HPO-based</i>
        </br>
        <i class="bi bi-star-fill text-warning"> New Genes in the Mendeliome</i>
        </br>
        <i class="bi bi-star-fill text-primary"> New Genes in phenotype-matched panels</i>

        <table class="display" id="variant-table">

            <thead>
                <tr>
                    <th class="group-separator">Individual</th>
                    <th>Family</th>
                    <th>Source</th>
                    <th>Variant</th>
                    <th>Gene (MOI)</th>
                    <th>Pheno Match</th>
                    <th>Categories</th>
                    <th>gnomAD 4.1</th>
                    <th>First Tagged</th>
                    <th>MANE CSQ</th>
                    <th>ClinvArbitration</th>
                    <th>PM5 ClinvArbitration</th>
                    <th>Ext. Label</th>
                    <th>Flags</th>
                    <th>Support</th>
                </tr>
                <tr>
                    <th><input type="text" placeholder="Search Individual"></th>
                    <th><input type="text" placeholder="Search Family"></th>
                    <th><input type="text" placeholder="Search Source"></th>
                    <th><input type="text" placeholder="Search Variant"></th>
                    <th><input type="text" placeholder="Search Gene (MOI)"></th>
                    <th><input type="text" placeholder="Search Pheno Match"></th>
                    <th><input type="text" placeholder="Search Categories"></th>
                    <th><input type="text" placeholder="Search gnomAD"></th>
                    <th><input type="text" placeholder="Search First Tagged"></th>
                    <th><input type="text" placeholder="Search MANE CSQ"></th>
                    <th><input type="text" placeholder="Search ClinvArbitration"></th>
                    <th><input type="text" placeholder="Search PM5 ClinvArbitration"></th>
                    <th><input type="text" placeholder="Search Ext. Label"></th>
                    <th><input type="text" placeholder="Search Flags"></th>
                    <th><input type="text" placeholder="Search Support"></th>
                </tr>
            </thead>
            <tbody>
                {% for sample in samples if sample.variants %}
                    {% for variant in sample.variants %}
                        {% include "variant_table_row.html.jinja" %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
    $(document).ready(function() {
        var collapsedGroups = {};

        // Initialize DataTable
        var table = $('#variant-table').DataTable({
            "paging": true,
            "pageLength": 50, // Number of rows per page
            "lengthMenu": [10, 25, 50, 100], // Options for rows per page
            "ordering": true, // Enable sorting
            "searching": true, // Enable searching
            rowGroup: {
                // Uses the 'row group' plugin
                dataSrc: 0,
                startRender: function (rows, group) {
                    var collapsed = !!collapsedGroups[group];

                    rows.nodes().each(function (r) {
                        r.style.display = collapsed ? 'none' : '';
                    });

                    // Add category name to the <tr>
                    return $('<tr/>')
                        .append('<td colspan="100%">' + group + ' (' + rows.count() + ')</td>')
                        .attr('data-name', group)
                        .toggleClass('collapsed', collapsed);
                }
              }
            }
        );

       $('#variant-table tbody').on('click', 'tr.group-start', function () {
            var name = $(this).data('name');
            collapsedGroups[name] = !collapsedGroups[name];
            table.draw(false);
        });

        // Prevent sorting when clicking on input fields
        $('#variant-table thead tr:eq(1) th input').on('click', function(e) {
            e.stopPropagation();
        });

        // Apply the search
        $('#variant-table thead tr:eq(1) th').each(function(i) {
            $('input', this).on('keyup change', function() {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
        });


        // Enable bootstrap tool tips
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
      });
    </script>
  </body>
</html>
