<table class="table tablesorter" id="variant-table">
<thead>
    <tr>
    <th class="group-separator">Individual </th>
    <th class="group-separator">Family ID </th>
    <th class="group-separator">Source</th>
    <th class="group-false">Variant</th>
    <th class="group-false">Gene (MOI)</th>
    <th class="group-false">Categories</th>
    <th class="group-false sorter-shortDate" data-date-format="yyyymmdd">First Tagged</th>
    <th class="group-false">MANE CSQ</th>
    <th class="group-false">ClinVar</th>
    <th class="group-false">Phenotype Match</th>
    <th class="group-false">PM5 ClinVar</th>
    <th class="group-false">Ext. Label</th>
    <th class="group-false">Flags</th>
    <th class="group-false">Support</th>
    </tr>
</thead>
<tbody>
{% for sample in samples if sample.variants %}


{% for variant in sample.variants %}
<tr>
    <td style="white-space: nowrap">
        {# Individual ID #}
        <a href="#" class="toggle"><i class="bi-card-text"></i></a>
        {% if sample.seqr_id %}
            <a href="{{seqr_url}}/project/{{seqr_project}}/family_page/{{sample.seqr_id}}" target="_blank">
                {{sample.ext_id}}
            </a>
        {% else %}

            {{sample.ext_id}}
        {% endif %}
        {% if sample.name != sample.ext_id %}
            <br><span class="text-muted">({{ sample }})</span>
        {% endif %}
    </td>
    <td>
        {{sample.family_id}}
    </td>
    <td>
        {{ variant.var_type }}
    </td>
    <td>
        {# Coordinates #}
        {% if sample.seqr_id %}
            <a href="{{seqr_url}}/variant_search/variant/{{variant.var_data.info.seqr_link}}/family/{{sample.seqr_id}}" target="_blank">
                {{variant.chrom}}:{{variant.pos}}
            </a>
        {% else %}
            {{variant.chrom}}:{{variant.pos}}
        {% endif %}
        <br>
        {{ variant.change }}
    </td>
    <td>
        {# Gene symbol #}
        {% for gene in variant.genes %}
        <a href="https://panelapp.agha.umccr.org/panels/entities/{{gene[1]}}" target="_blank">{{gene[1]}}</a>
        {% endfor %}
        {% if variant.panel_flags %}
        <i class="bi-person-check-fill text-success" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-title="Phenotype match: {{variant.panel_flags|join(', ')}}"></i>
        {% endif %}
        {% if variant.forced_matches %}
        <i class="bi-person-check-fill text-info" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-title="Cohort panels: {{variant.forced_matches|join(', ')}}"></i>
        {% endif %}
        <br>
        {% set pipe = joiner(", ") %}
        ({% for moi in variant.reasons -%}
        {{pipe()}}{{ moi|replace("Autosomal Recessive Homozygous","AR-Hom")
        |replace("Autosomal Recessive Compound-Het","AR-CH")
        |replace("Autosomal Dominant","AD")
        }}
        {% endfor %})
    </td>
    <td>
        {# Categories #}
        {{variant.categories|join(", ")|replace("_", " ")}}
    </td>
    <td>
        {# First Tagged #}
        {{ variant.first_tagged }}
    </td>
    <td>
        {# CSQ #}
        {% if variant.mane_csq %}
            {{variant.mane_csq|join(', ')|replace("_variant", "")|replace("_", " ")}}
            <br>
            {{ variant.mane_hgvsps|join(', ') }}
        {% elif variant.var_type == 'SmallVariant' %}
            <span class="badge text-bg-warning">Non-canonical transcript only</span>
        {% endif %}
    </td>
    <td>
        {# Clinvar #}
        <a href="http://www.ncbi.nlm.nih.gov/clinvar?term={{variant.var_data.info.clinvar_allele}}[alleleid]"
            target="_blank">
            {{ variant.var_data.info.clinvar_significance|replace('missing','') }}
        </a>
        {% if variant.var_data.info.clinvar_stars %}
            <br>
            {% for i in range(variant.var_data.info.clinvar_stars|int) -%}
                <i class="bi-star"></i>
            {% endfor %}
        {% endif %}
    </td>
    <td>
        {# Phenotype Match #}
        {% if variant.phenotype_matches %}
        Phenotype match!
        <i class="bi bi-file-earmark-medical-fill" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-title="Phenotype match: {{variant.phenotype_matches|join(', ')}}"></i>
        {% else %}
            No Match
        {% endif %}
    </td>
    <td>
        {# PM5 ClinVar #}
        {% if 'pm5' in variant.categories %}
            {% for allele, stars in variant.var_data.info.pm5_data.items() %}
                <a href="http://www.ncbi.nlm.nih.gov/clinvar?term={{allele}}[alleleid]"
                    target="_blank">
                    {{allele}}
                </a>
            {% endfor %}
        {% endif %}
    </td>
    <td>
        {# External Labels #}
        {% for label in variant.ext_labels %}
        <span class="badge text-bg-info">
            {{ label }}
        </span><br>
        {% endfor %}
    </td>
    <td>
        {# Warning Flags #}
        {% for flag in variant.warning_flags %}
        <span class="badge text-bg-warning">
            {{ flag|replace("_", " ") }}
        </span><br>
        {% endfor %}
    </td>
    <td>
        {# Support #}
        {% for coords in variant.support_vars %}
            <a href="{{seqr_url}}/variant_search/variant/{{coords}}/family/{{sample.seqr_id}}" target="_blank">
                {{coords.split('-')[:2]|join(':')}}
            </a>
        {% endfor %}
    </td>
</tr>

{% include "variant_table_child_row.html.jinja" %}

{% endfor %}
{% endfor %}
</tbody>
</table>
