name: CI
on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v2
      with:
        python-version: '3.6'

    - name: Install packages
      run: pip install -r requirements-dev.txt

    - name: pre-commit
      run: pre-commit run --all-files
